<!-- Header Component -->
<nav class="header">
  <div class="header__container">
    <a class="header__brand" routerLink="/products">E-Commerce</a>

    <!-- Header Navbar -->
    <header class="header__nav">
      <!-- Header Navbar List -->
      <ul class="header__list">
        <li class="header__item">
          <a aria-label="Go To Products" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
      </ul>

      <ul class="header__list">
        <li class="header__item" *ngIf="!isAuthenticated">
          <a aria-label="Go To Login" routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>

        <!-- Header Register -->
        <li class="header__item" *ngIf="!isAuthenticated">
          <a aria-label="Go To Register" routerLink="/auth/register" routerLinkActive="active">Register</a>
        </li>

        <!-- Header Cart -->
        <li class="header__item" *ngIf="isAuthenticated">
          <a aria-label="Go To Cart" routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>

        <!-- Header Logout -->
        <li class="header__item" *ngIf="isAuthenticated">
          <a aria-label="Go To Logout" (click)="onLogout()" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </header>
  </div>
</nav>
