.card {
      box-shadow: 0 0 0.625rem rgba(0,0,0,0.1);
    }
    .card-header {
      background-color: #f8f9fa;
      border-bottom:0.0625rem solid #dee2e6;
    }
    .form-label {
      font-weight: 500;
    }

    .container {
      margin-bottom:10rem;
      margin-top:3rem;
    }
    button{
      font-size: 1.5rem;
    }
