<!-- loading spinner -->
<div class="d-flex justify-content-center" *ngIf="isLoading">
  <app-loading-sppiner></app-loading-sppiner>
</div>

<!-- products grid -->
<div class="container" *ngIf="!isLoading">
  <div class="row my-5 g-4">
    <div class="col-md-4" *ngFor="let product of products">
      <!-- product card -->
      <div class="card">
        <!-- product image -->
        <img
          loading="lazy"
          [src]="product.imageCover"
          [alt]="product.title"
          class="card-img-top w-100"
        />
        <!-- product body -->
        <div class="card-body">
          <!-- product title -->
          <h5 class="card-title">{{ product.title | slice:0:20 }}</h5>
          <!-- product description -->
          <p class="card-text">{{ product.description | slice:0:70 }}</p>
          <!-- product price -->
          <p class="card-text text-main font-weight-bold fs-4 color-primary">
            {{ product.price | currency:'EGP' }}
          </p>

            <!-- alert only for this product -->
          <app-alert
            *ngIf="alertMessage && activeProductId === product.id"
            [message]="alertMessage"
            [type]="alertType"
            class="mb-2"
          ></app-alert>

          <!-- add to cart button -->
          <button
            class="btn btn-primary w-100 my-2 rounded-pill"
            (click)="addToCart(product.id)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
